<!doctype html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <div id="hSection">
            <img class="homeImage" src="image/homeImage.jpg" alt="homeImage">
        </div>
        <div id="contentSection">
            <h2>We Fits All Tastes For You</h2>
            {{#each contentData}}
                    <div id="contentdata">
                        <img src={{path}} alt={{title}}>
                        <h4>{{title}}</h4>
                        <h5>{{text}}</h5>
                    </div>
            {{/each}}
        </div>
        <div id="topmeal">
            <h2>Choose Your Top Meal</h2>
            {{#each mealData}}
                {{#if this.istopmeal}}
                    <div id="topmealdata">
                        <img src={{path}} alt={{title}}>
                        <p>{{title}}</p>
                        <p>{{price}}</p>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </body>
</html>